@font-face {
    font-family:"Open Sans Regular";
    src:url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family:"Open Sans Bold";
    src:url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family:"Open Sans ExtraBold";
    src:url(../fonts/OpenSans-ExtraBold.ttf);
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 18px;
    }

h1,y2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,li {
    display: block;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 64px;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.31;
    text-align: left;
    color: #242323;

}

h2 {
    font-size: 58px;
    font-family: "Open Sans Bold",sans-serif;

}

h3 {
    font-size: 36px;
    font-family: "Open Sans Bold",sans-serif;
}

h4 {
    font-size: 30px;
    font-family: "Open Sans Regular",sans-serif;

}

header {
    background-color: #E4F5EB;
}

.container {
    width: 1425px;
    margin: 0 auto;
}

.nav {
    display: flex;
    margin: 48px 0 0 12px;
}

.logo {
    margin-right: 370px;
}

.logo p {
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Open Sans ExtraBold",sans-serif;
}

.colortext {
    color: #45B871;
} 

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li {
    margin-right: 63px;
}

.menu li:nth-child(2) {
    margin-right: 62px;
}

.menu li:nth-child(3) {
    margin-right: 67px;
}

.menu li:nth-child(4) {
    margin-right: 199px;
}

.menu li:nth-child(5) {
    margin-right: 42px;
}

.menu li a {
    font-size: 20px;
    font-family: "Open Sans Bold",sans-serif;
    color: #575859;
    font-weight: 700;
    line-height: 60px;
}

.dropbtn {
    font-size: 20px;
    font-family: "Open Sans Bold",sans-serif;
    color: #575859;
    font-weight: 700;
    line-height: 60px;
    border: none;
    background: #E4F5EB;
}

.button {
    
    color: white;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 5px;
    background: rgb(64,199,129);
    box-shadow: 0px 8px 80px rgba(9, 188, 77, 0.2);
    transition: 0.2s;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans Regular",sans-serif;

}

a.button7:hover { background: rgb(53, 167, 110); 
}
a.button7:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
  
.dropbtn:hover {
    background-color:#F0F0F0;
  }
  
.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  .menu-content a:hover {
    background-color: #ddd;
}
  
  .menu li:hover .menu-content{
    display: block;
}

.infoContent {
    display: flex;
}

.headerRight img {
margin: -5px 0 74px 71px;
}

.headerLeft {
    margin-top: 151px;
}

.headerLeft h1 {
    margin-left: 11px;

}

.headerLeft p {
    font-size: 18px;
    font-family: "Open Sans Regular",sans-serif;
    line-height: 1.67;
    font-weight: 600;
    color: #6c6c6a;
    margin: 25px 0 0 14px;
}

.btnAllCourses {
    width: 202px;
    height: 72px;
    border-radius: 5px;
    box-shadow: 0 8px 79px 0 rgba(9, 188, 77, 0.2);
    background-color: #45b871;
    margin: 53px 0 0 13px;
}

.txtAllCourses {
    width: 106.1px;
    height: 31.7px;
    font-family: "Open Sans Regular",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    padding-top: 22px;
    padding-left: 50px; 
}

.btnContent {
    display: flex;
}

.btnPlayVideo {
    display: flex;
    margin-left: -9px;
}

.btnPlayVideo img {
    margin-top:24px;;
}

.txtPlayVideo {
    font-family: "Open Sans Regular",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 0.75;
    text-align: left;
    color: #242323;
    margin: 85px 0 0 -24px
}

.getStartedContent {
    margin-bottom: 86px;
}

.getStarted {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 66px -30px 0 0;
}

.getStarted h3 {
    line-height: 1.39;
    color: #575859;
    margin-right: 145px;
}

.getStarted img:nth-child(2) {
    margin-left: 10px
}

.getStarted img:nth-child(3) {
    margin-right: 31px;
    margin-top: 4px;}

.getStarted img:last-child {
    margin-left: 69px;
}

.easySteps {
    display: flex;
}

.stepsForm img {
    margin: 143px 147px 0 -78px;
}

.stepsText {
    margin-top: 231px;
    line-height: 1.28;
}

.stepsText p {
    margin-top: -20px;
    line-height: 1.67;
    font-family: "Open Sans Regular",sans-serif;
}

.btnSeeHow {
    display: flex;
}

.btnSeeHow img {
    margin: 24px 0 0 -42px;
}

.ouerPopularCourses {
    background-color: #e4f5eb;
}

.popularCourses h2 {
    margin-top: 166px;
    margin-left: 22px;
}


.coursesAll {
    display: flex;
}

.courseOne  {
    width: 450px;
    height: 582px;
    margin: 1px 0 0;
    padding: 73px 15px 23px;
    border-radius: 15px;
    box-shadow: 0 20px 100px 0 rgba(87, 88, 89, 0.1);
    border: solid 1px #f2efef;
    background-color: #fff;      
}



.courseOne img {
    width: 449px;
    height: 287px;
}

.courseOne h4 {
    margin: 0 51px 22px 0;
    padding: 25px 0 0 32px;
    line-height: 1.33;
    color: #242323;
}

.courseTwo  {
    width: 450px;
    height: 582px;
    margin: 1px 0 0;
    padding: 21px 15px 23px;
    border-radius: 15px;
    box-shadow: 0 20px 100px 0 rgba(87, 88, 89, 0.1);
    border: solid 1px #f2efef;
    background-color: #fff;      
}

.courseTwo h4 {
    margin: 0 51px 10px 0;
    padding: 28px 0 0 31px;
    line-height: 1.33;
    color: #242323;
}

.Lectures30 {
    display: flex;
}

.Lectures30 img {
    width: 34px;
    height: 34px;
    margin-left: 28px;
}
.Lectures30 p {
    font-family: "Open Sans Regular",sans-serif;
    font-size: 20px;
    line-height: 0.75;
    color: #575859;
    padding-top: 5px;
    padding-left: 7px;
}

.Lectures30 .logo12k {
    width: 15px;
    height: 23px;
    margin-left: 100px;
}

.courseOne .Line-1 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 20px 9px 21px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    margin-top: 11px;
    margin-left: 37px;
}

.courseTwo .Line-2 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 20px 9px 34px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    margin-top: 11px;
    margin-left: 37px;
}

.viewProfile {
    display: flex;
}

.viewProfile img {
    width: 68px;
    height: 68px;
    margin-left: 30px;
}

.txtViewProfile {
    margin-left: 20px;
    padding-top: 8px;
}

.txtViewProfile p {
    font-size: 20px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
}

.courseTwo .txtViewProfile p {
    font-size: 12px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
}

.txtViewProfile a {
    font-size: 12px;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
    color: #45b871;
}

.priceCourse {
    font-family: "Open Sans Bold",sans-serif;
    font-size: 34px;
    line-height: 0.44;
    color: #4c68ff;
    margin-left: 114px;
    margin-top: 28px;
}

.courseThree  {
    width: 450px;
    height: 582px;
    margin: 1px 0 0;
    padding: 73px 15px 23px;
    border-radius: 15px;
    box-shadow: 0 20px 100px 0 rgba(87, 88, 89, 0.1);
    border: solid 1px #f2efef;
    background-color: #fff;      
}

.courseThree h4 {
    margin: 0 31px 20px 0;
    padding: 26px 0 0 29px;
    line-height: 1.33;
    color: #242323;
}

.courseThree .Line-1 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 20px 9px 20px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    margin-top: 11px;
    margin-left: 37px;
}

.courseThree .txtViewProfile p {
    font-size: 12px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
    padding-top: 5px;
}

.coursesAll2 {
    display: flex;
}

.courseFour  {
    width: 450px;
    height: 582px;
    margin: 1px 0 0;
    padding: 5px 15px 23px;
    border-radius: 15px;
    box-shadow: 0 20px 100px 0 rgba(87, 88, 89, 0.1);
    border: solid 1px #f2efef;
    background-color: #fff;  
}

.courseFour h4 {
    padding: 24px 0 0 33px;
}

.courseFour .Lectures30 {
    margin-top: 20px;
}

.courseFour .viewProfile {
    margin-top: 21px;
}

.courseFour .Line-1 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 20px 9px 20px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    margin-top: 11px;
    margin-left: 37px; 
}

.courseFour .txtViewProfile p {
    font-size: 12px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
    padding-top: 5px;
}

.courseFive {
    margin: -42px 0 0 -44px;
}

.courseFive h4 {
    padding: 23px 0 0 90px;
}

.courseFive .Lectures30 {
    margin: 19px 0 0 57px;
}

.courseFive .viewProfile {
    margin: 21px 0 0 60px;
}

.courseFive .Line-1 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 20px 9px 20px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    margin-top: 11px;
    margin-left: 94px; 
}

.courseFive .txtViewProfile p {
    font-size: 12px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
    padding-top: 5px;
}




.courseSix {
    margin: 7px 0 0 32px;
}

.courseSix h4 {
    padding: 24px 0 0 33px;
}

.courseSix .Lectures30 {
    margin: 20px 0 0 -33px;
}

.courseSix .Line-1 {
    width: 374px;
    height: 1px;
    flex-grow: 0;
    margin: 9px 9px 20px 7px;
    background-color: rgba(38, 142, 170, 0.5);
    /* margin-top: 10px;
    margin-left: 3px;  */
}

.courseSix .viewProfile {
    margin: 20px 0 0 -30px;
}

.courseSix .txtViewProfile {
    padding: 0;
}

.courseSix .txtViewProfile p {
    font-size: 12px;
    color: #242323;
    font-family: "Open Sans Bold",sans-serif;
    line-height: 1.75;
    /* padding-top: 5px; */
}

